.container{
 width: 80%;
 margin: 0 auto;
 display: grid;
 grid-template-columns: repeat(5, 1fr);
 height: 500px;
 gap: 15px;
 background-color: #212121ce;
 padding: 20px;
 box-shadow: 0 5px 10px grey;
 border-radius: 5px;
}

.card{
   border-radius: 3px;
}
.card:nth-child(1){
  background-color: tomato;
  grid-column: 1/4;
  grid-row:  1/3
 } 
.card:nth-child(2){
  background-color: rgb(248, 248, 110);
  grid-column: 4/5;
  grid-row:  1/3;
}
.card:nth-child(3){
  background-color: rgb(100, 243, 100);
   grid-column: 1/3;
   grid-row: 3/5
  
}
.card:nth-child(4){
  background-color: rgba(80, 80, 244, 0.642);
   grid-column: 3/5;
}
.card:nth-child(5){
  background-color: rgba(80, 80, 244, 0.642);
   grid-column: 3/5;
}


footer {
  font-size: 14px;
  text-align: center;
}

.attribution p {
  color: hsl(228, 45%, 44%);
}

.attribution p a{
  color: hsl(228, 45%, 44%);
}
